{% extends 'base.html' %} {% block content %}
<h1>{{sheet.title}} by 
    {% if sheet.choreographer.count > 1 %}
    {% for id, choreographer in sheet.choreographer.items %} 
    <a href="{% url 'choreo_detail' choreographer.id %}">{{choreo_join.id}}</a>
    {% endfor %}
    {% endif %}</h1>
    <p>
        {{sheet.content}}, {{choreo_join}}
    </p>
   
    {% if perms.STEPSHEET.change_sheet %}
        {% if user.is_authenticated %}
            <a href="{% url 'sheets_update' sheet.id %}">EDIT</a>
            {% endif %}
        {% endif %}
        {% if perms.STEPSHEET.delete_sheet %}
            {% if user.is_authenticated %}
                <a href="{% url 'sheets_delete' sheet.id %}">DELETE</a>
            {% endif %}
        {% endif %}
    {% endblock %}