{% extends 'base.html' %} {% block content %}
<div class="content">
    <h1>{{sheet.title}} by 
        {% for choreographer in sheet.choreographer.all %} 
        <a class="choreo_name" href="{% url 'choreo_detail' choreographer.id %}">{{choreographer}}</a>
        {% endfor %}</h1>
        <p>
            {{sheet.content}}
        </p>
        <div class="edit_delete">
            {% if perms.main_app.change_sheet %}
            {% if user.is_authenticated %}
            <a href="{% url 'sheets_update' sheet.id %}" class="btn">EDIT</a>
            {% endif %}
            {% endif %}
            {% if perms.main_app.delete_sheet %}
            {% if user.is_authenticated %}
            <a href="{% url 'sheets_delete' sheet.id %}" class="btn-delete">DELETE</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
        <div class="sidebar">
            {% for video in sheet.video.all %}
            <p style="margin-bottom: -.75vw">{{video.get_type_display}}</p>
            <iframe class="video" src="{{video.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% if perms.main_app.delete_video %}
            <form action="{% url 'assoc_video_delete' sheet.id video.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn" style="margin: -1vw 0 1vw 0;">REMOVE</button>
              </form>
              {% endif %}
            <hr style="width: 17vw; margin-top: -.75vw;"/>
            {% endfor %}
            {% if user.is_authenticated %}
            <a href="{% url 'videos_create' %}" class="btn xtraMarginTop">ADD VIDEO</a>
            {% else %}
            <p><a href="{% url 'login' %}" class="btn">Log In</a> to add a video</p>
            {% endif %}
        </div>
    {% endblock %}