{% extends 'base.html' %} {% block content %}
<div class="content">
    <h1>All Step Sheets - {{sheets.count}} and Counting!</h1>
    {% for sheet in sheets %}
    <div class="index_item">
        <a href="{% url 'detail' sheet.id %}">
            <h3>{{sheet.title}} by 
            {% for choreo in sheet.choreographer.all %}
            {{choreo}}
            {% endfor %}
            </h3>
            <div class="sheet_index_detail">
                <p>Count: {{sheet.counts}}</p>
                <p>Wall: {{sheet.walls}}</p>
                <p>Level: {{sheet.get_skill_level_display}}</p>
                <p>Style: {{sheet.get_style_display}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="sidebar">
    {% include 'sidebar.html' %}
</div>
{% endblock %}