body{
    background-color: #03312e;
    color: #f1f7ed;
}
a {
    color: #f1f7ed;
    text-decoration: none;
}
li{
    list-style: none;
}
.btn {
    padding: .5vw;
    background-color: #5bc0be;
    border-radius: 3px;
    margin: 2px;
    box-shadow: 0 0 2px #f1f7ed;
    border: none;
    color:#f1f7ed;
}
.btn:hover{
    box-shadow: 0 0 5px #03312e;
    color: #03312e;
    transition: 300ms;
}
.btn-delete {
    padding: .5vw;
    background-color: #5bc0be;
    border-radius: 3px;
    margin: 2px;
    box-shadow: 0 0 2px #f1f7ed;
    border: none;
    color:#f1f7ed;
}
.btn-delete:hover{
    box-shadow: 0 0 10px red;
    color: red;
    text-shadow: white 0 0 2px;
    transition: 300ms;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #037171;
    border-radius: 1px;
    padding: 1vw;
    width: 95vw;
    margin: 0 1vw;
    align-items: center;
}
.title{
    font-size: 55px;
    margin: 0 0 0 -10vw;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #037171;
    border-radius: 1px;
    padding: 1vw;
    width: 95vw;
    margin: 0 1vw;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.index_item {
    padding: 1px 15px;
    background-color: #5bc0be;
    box-shadow: 0 0 1px #03312e;
    border-radius: 3px;
    margin: 8px;
}
.index_item:hover{
    box-shadow: 0 0 10px #03312e;
    padding: 1px 20px;
    margin: 8px 0 8px 0;
    transition: 150ms;
}
.choreo_name {
    margin: 0 17px 0 -2px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    width: 76vw;
    /* border: 1px solid green; */
    margin: 1vw;
    background-color: #037171;
    border-radius: 1px;
    padding: 1vw;
}
.sidebar{
    width: 17vw;
    /* border: 1px solid red; */
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #037171;
    border-radius: 1px;
}
.edit_delete{
    display: flex;
    justify-content: space-around;
}
.sheet_index_detail{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: -30px 0 0 0;
}
.search_bar{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.search{
    width: 25vw;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-right: .75vw;
}